<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<!-- Styles -->
<style>

    /* Fallback Apotheosis Icons font */
    @font-face {
        font-family: 'Apotheosis';
        src: url('/static/fonts/apotheosis.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }

    div.container {
        font-family: 'Open Sans', Apotheosis;
        max-width: 1440px;
    }

    h1, h2 {
        text-transform: uppercase;
    }

    b {
        font-weight: 650;
        letter-spacing: 0.2px;
    }

    .icon {
        font-weight: normal;
    }

    /* Bonus */
    .positive {
        font-weight: bold;
        color: green;
    }

    .negative {
        font-weight: bold;
        color: red;
    }

    /* Colors */
    .main      { color: #212121; } .dark .main { color: #DADADA; }

    .house     { color: #673AB7; }
    .class     { color: #F44336; }
    .entity    { color: #3F51B5; }
    .item      { color: #FFC107; }
    .skill     { color: #2196F3; }
    .companion { color: #FF7043; }
    .event     { color: #4CAF50; }

    .summus    { color: #FF22B2; }
    .knowledge { color: #995D52; }

    .common    { color: #9E9E9E; }
	.uncommon  { color: #8BC34A; }
	.rare      { color: #01579B; }
	.epic      { color: #673AB7; }
	.legendary { color: #FFC400; }

    .yellow    { color: #FFEB3B; }
	.red       { color: #B71C1C; }
	.blue      { color: #0D47A1; }
	.white     { color: #BDBDBD; }
	.black     { color: #424242; } .dark .black { color: #454545; }

    .hidden    { color: RED; } .dark .hidden { color: #424242; }

    .keyword-activation {
        font-size: 0.8em;
        text-transform: uppercase;
        color: #F5F5F5;
        background-color: #3676BC;
        border-radius: 4px;
        padding: 0px 5px;
        font-weight: 600;
    }

    .keyword-timing {
        font-size: 0.8em;
        text-transform: uppercase;
        color: #F5F5F5;
        background-color: #F78A1F;
        border-radius: 4px;
        padding: 0px 5px;
        font-weight: 600;
    }

    .keyword-limit {
        font-size: 0.8em;
        text-transform: uppercase;
        color: #F5F5F5;
        background-color: #EF4056;
        border-radius: 20px;
        padding: 0px 8px;
        font-weight: 600;
    }

    .keyword-scope {
        font-size: 0.8em;
        text-transform: uppercase;
        color: #F5F5F5;
        background-color: #932969;
        border-radius: 20px;
        padding: 0px 8px;
        font-weight: 600;
    }

    .keyword-task {
        position: relative;
        text-transform: uppercase;
        display: inline-block;
        font-size: 0.8em;
        color: #F5F5F5;
        background-color: #212121;
        margin: 0px 8px;
        padding: 0px 5px; /* espaço para as pontas */
        font-weight: 600;
        border-radius: 8px;
    } .keyword-task::before, .keyword-task::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    } .keyword-task::before {
        left: -6px;
        border-right: 10px solid #212121; /* mesma cor do fundo */
        transform: translateY(-50%);
    } .keyword-task::after {
        right: -6px;
        border-left: 10px solid #212121; /* mesma cor do fundo */
        transform: translateY(-50%);
    }

    .requirement {
        font-size: 0.8em;
        color: #F5F5F5;
        background-color: #5C697A;
        border-radius: 4px;
        padding: 0px 8px;
        font-weight: 550;
    }
</style>


<!-- Scripts -->
<script>



</script>


<!-- Page Header Content -->
<div>



</div>